/* Responsive screen sizes for media queries:
320px (small phone)
768 (small tablet) */

@import url('https://fonts.googleapis.com/css?family=Roboto:400|Rubik:400');

:root {
  --lightgrey: #cacaca;
  --faintgrey: #282828;
  --medgrey: #3b3b3b;
  --darkgrey: #202020;

  --darkred: #50191a;
  --lightred: #cf4547;

  --lightgreen: #8df37a;
  --darkgreen: #214a19;

  --lightyellow: #cace58;
  --darkyellow: #56571D;

  --lightorange: #E2D34E;
  --darkorange: #836f40;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  background: #111;
  color: var(--medgrey);
}



.app {
  position: relative;
  max-width: 940px;
  background: var(--darkgrey);
  box-shadow: 0 12px 50px rgba(0,0,0,.6);
  border-radius: 5px;
  margin: 30px auto 60px auto;
  padding: 40px 60px 80px 60px;
}

@media(max-width: 375px) {
  body {
    font-size: 10px;
  }
  .app {
    margin: 0;
    padding: 20px 30px 40px 30px;
  }
}

h1, h2 {
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  color: var(--lightgrey);
  text-transform: lowercase;
}

h1.main-header {
  font-size: 3.6em;
  text-align: center;
  margin: 0;
}

.top-divider {
  height: 5px;
  width: 100%;
  background: var(--medgrey);
  border-radius: 5px;
  margin: 20px 0;
}

.main-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 60px 0 40px 0;
}

.buttons-container {
  position: relative;
  width: 150px;
  height: 150px;
}

.reset-button {
  position: absolute;
  top: -15px;
  right: -15px;
  font-size: 2em;
  font-weight: 900;
}

.reset-button:hover {
  color: var(--lightred);
  cursor: pointer;
}

.button-progress {
  display: flex;
  align-items: center;
  justify-content: center;

  /* background: var(--darkgreen); */
  width: 150px;
  height: 150px;
  border-radius: 100%;
  font-size: 3.2em;
  transition: 1s;
}

.button-progress:hover {
  cursor: pointer;
}

.button-progress-inner {
  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--darkgrey);
  color: var(--lightred);
  width: 106px;
  height: 106px;
  border-radius: 100%;
  /* font-size: 3.2em; */
  font-size: 1em;
}

.progress-canvas {
  height: 150px;
  width: 150px;
  border-radius: 100%;

  position: absolute;
  top: 0;
  left:0;
  transition: border .5s;
}

.progress-canvas:hover {
  cursor: pointer;
}

.fa-play {
  margin-left: 1rem;
}

.show-time,
.minutes,
.seconds-group {
  display: inline-block;
}

.seconds-group {
  margin-left: 10px;
}

.minutes {
  font-size: 7.2em;
  letter-spacing: -.05em;
}

.seconds {
  font-size: 3.2em;;
  color: #999;
  text-align: right;
}

.milliseconds{
  font-size: 1.6em;
  text-align: right;
}

.counters,
.counter-pomodoros,
.counter-group {
  display: inline-block;
}

.counter-pomodoros {
  font-size: 6em;
  color: #999;
  font-weight: 200;
  letter-spacing: -.05em;
}

.counter-group {
  margin-left: 10px;
}

.counter-goal {
  font-size: 2.5em;
  text-align: right;
  color: var(--medgrey);
}

.counter-text {
  font-size: .9em;
  text-align: right;
}








.timer-settings {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.timer-settings-content {
  overflow: hidden;
  transition: 1s;
}



.timer-title {
  /* flex-basis: 220px; */

  text-transform: lowercase;
  display: inline-block;
  transition: color .5s;
  width: 220px;
  height: 45px;
  text-align: center;
  padding: .4em;
  border-bottom: 6px solid var(--medgrey);
  /* margin-bottom: 25px; */
}

.settings-work:hover .work-title,
.work-title:hover {
  color: var(--lightgrey);
  border-bottom: 6px solid var(--lightred) !important;
  cursor: pointer;
}

.settings-break:hover .break-title,
.break-title:hover
{
  cursor: pointer;
  color: var(--lightgrey);
  border-bottom: 6px solid var(--lightorange) !important;
}

.settings-long-break:hover .long-break-title,
.long-break-title:hover {
  cursor: pointer;
  color: var(--lightgrey);
  border-bottom: 6px solid var(--lightgreen) !important;
}




.settings-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: color 0.2s;
  margin: 1em 0;
  border-bottom: 3px solid var(--darkgrey);
  text-transform: lowercase;
  min-height: 41px;
  width: 220px;
  position: relative;
}

.decrement, .increment {
  border: none;
  background: transparent;
  font-weight: 100;
  font-size: 2rem;
  color: var(--darkgrey);
}

.noselect {
    /* noselect: https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.decrement:hover, .increment:hover {
  cursor: pointer;
  font-weight: bold;
}

.settings-timer-work:hover {
  color: var(--lightgrey);
}
.settings-timer-work:hover a.decrement,
.settings-timer-work:hover a.increment {
  color: var(--lightred);
  opacity: 1;
}

.settings-timer-break:hover {
  color: var(--lightgrey);
}
.settings-timer-break:hover a.decrement,
.settings-timer-break:hover a.increment {
  color: var(--lightorange);
  opacity: 1;
}

.settings-timer-long-break:hover {
  color: var(--lightgrey);
}
.settings-timer-long-break:hover a.decrement,
.settings-timer-long-break:hover a.increment {
  color: var(--lightgreen);
  opacity: 1;
}

.settings-goal:hover {
  color: var(--lightgrey);
}
.settings-goal:hover a.decrement,
.settings-goal:hover a.increment {
  color: var(--lightred);
  opacity: 1;
}

.settings-lb-set:hover {
  color: var(--lightgrey);
}
.settings-lb-set:hover a.decrement,
.settings-lb-set:hover a.increment {
  color: var(--lightgreen);
  opacity: 1;
}

.settings-goal,
.settings-lb-set {
  margin-top: 30px;
}







.settings-sound {
  flex-wrap: wrap;

  width: 220px;
  /* height: 2em; */
  text-align: center;
  border-bottom: 1px solid var(--faintgrey);
  border-top: 1px solid var(--faintgrey);
  padding-bottom: 15px;
}

.sound-prev-arrow,
.sound-next-arrow {
  font-size: .8em;
  color: var(--darkgrey);
  transition: color .3s;
}

.sound-prev-arrow:hover,
.sound-next-arrow:hover {
  cursor: pointer;
}

.settings-sound-work:hover .sound-prev-arrow,
.settings-sound-work:hover .sound-next-arrow {
  color: var(--lightred);
}
.settings-sound-break:hover .sound-prev-arrow,
.settings-sound-break:hover .sound-next-arrow {
  color: var(--lightorange);
}
.settings-sound-longBreak:hover .sound-prev-arrow,
.settings-sound-longBreak:hover .sound-next-arrow {
  color: var(--lightgreen);
}

.settings-sound .sound-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  background: var(--medgrey);
  padding: 2px;
  width: 1em;
  height: 1em;
  border-radius: 100%;
  margin-right: .5em;
  transition: background .3s;
  position: absolute;
  left: 2em;
}

.settings-item:hover .sound-icon {
  background: var(--lightgrey);
  cursor: pointer;
}

.settings-sound i {
  font-size: .7em;
  color: var(--darkgrey);
}

.settings-sound ul {
  transition: .2s;
  margin: 0;
  border-radius: 5px;
  padding: .5em;
}

.settings-sound ul li {
  list-style: none;
  text-align: center;
  /* width: 220px; */
  transition: .2s;
  padding: .5em 0;
}

.settings-sound ul li:hover {
  cursor: pointer;
  color: var(--lightgrey);
}

.settings-sound:hover .increment,
.settings-sound:hover .decrement {
  color: red;
}

.settings-sound:hover .sound-active {
  color: var(--lightgrey);
}

.settings-sound:hover .sound-progress-tab {
  opacity: 1;
}


.sound-list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.sound-hidden {
  display: none;
}

.sound-progress {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 12px;
  border-radius: 6px;
  flex-basis: 100%;
}

.sound-progress-tab {
  background: var(--medgrey);
  height: 13px;
  width: 13px;
  margin: 0 4px;
  border-radius: 100%;
  transition: .3s;
  opacity: 0;
}
.sound-progress-tab:hover {
  cursor: pointer;
  background: var(--lightgrey);
}



.settings-work .sound-progress-tab:hover:not(.sound-progress-tab-active) {
  background: var(--darkred);
}
.settings-work .sound-progress-tab-active {
  background: var(--lightred);
}
.settings-break .sound-progress-tab:hover:not(.sound-progress-tab-active) {
  background: var(--darkorange);
}
.settings-break .sound-progress-tab-active {
  background: var(--lightorange);
}
.settings-long-break .sound-progress-tab:hover:not(.sound-progress-tab-active) {
  cursor: pointer;
  background: var(--darkgreen);
}
.settings-long-break .sound-progress-tab-active {
  background: var(--lightgreen);
}

.timer-settings-content {
  max-height: 0;
  overflow: hidden;
}







.about-pomodoro {
  position: absolute;
  top: 6em;
  width: calc(100% - 120px);
  background: var(--lightgrey);
  color: var(--darkgrey);
  border-radius: 6px;
  max-height: 0;
  overflow: hidden;
  opacity: .9;

  transition: 1s ease-in-out;
}

.close-btn-about {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 2em;
}
.close-btn-about:hover {
  color: var(--lightred);
  cursor: pointer;
}





.options {
  position: absolute;
  right: 1.5em;
  top: 1em;
  /* font-size: .8em; */


}

.options-btn-settings,
.options-btn-about {
  color: var(--medgrey);
  border-radius: 6px;

  padding: .5em;
}

.options,
.options-btn-settings,
.options-btn-about {
  display: flex;
  justify-content: center;
  align-items: center;
}

.options-btn-settings:hover,
.options-btn-about:hover {
  cursor: pointer;
  color: var(--lightgrey);
}