html {
  box-sizing: border-box;
}
*, *:before, *:after { box-sizing: border-box }

body {
  /* background: #111; */
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #111;
  color: #fff;
}
.container {
  margin: 0;
  margin-left: 272px;
  text-align: center;
  height: 100vh;
  min-height: 580px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
}
.container p {
  margin: 0;
  padding: 0;
}
.display-image img {
  flex: 1;
  width: 75%;
  transition: 3s;
}
.sidebar {
  position: absolute;
  left: 0;
  top:0;
  height: 100vh;
  min-height: 580px;
  padding: 22px;
  overflow-y: scroll;
  background: #fff;
}
.img-thumb {
  width: 200px;
  margin: 12px 0;
}
.img-thumb img {
  display: inline-block;
  width: 100%;
}
.img-add {
  color: #333;
  height: 150px;
  border: 2px dashed #999;
  padding: 22px;
}
.img-thumb:hover {
  cursor: pointer;
}
.selected {
  border: 5px solid #999;
}